            <!-- ABOUT SECTION -->

                <div id="about" class="section">   
                    <div class="block content-1070 center-relative section-content">  
                        <h2 class="entry-title">About</h2>
                        <p class="page-description">We love to design and build websites, <br> applications, mobile solutions and other awesome digital media.</p>
                        
                        <div class="one_half ">
                            <p class="big-text ">A mote of dust suspended in a sunbeam network</p>
                            <p>&nbsp;</p>
                            <p>Tunguska event quasar decipherment, are creatures of the cosmos, rich in heavy atoms Vangelis vanquish the impo sible hydrogen atoms paroxysm of global death</p>
                            <p>Ship of the imagination dispassionate extraterrestrial observer cosmic ocean preserve and cherish that blue other world gathered by gravity, light years</p>
                            <p>&nbsp;</p>
                            
                            <div class="text-left">
                                <a href="#contact" target="_self" class="button scroll">Hire Us Now</a>
                            </div>
                        </div>
                        <div class="one_half last animate">
                            <a class="video-popup-holder" href="https://vimeo.com/157276599" data-rel="prettyPhoto[gallery-video1]">
                                <img class="thumb" src="images/about_img2.jpg" alt="" />
                                <p class="popup-play"></p>
                            </a>
                        </div>
                        <div class="clear"></div>
                        
                        <div class="v-skills-holder">
                            <span class="v-skills-level"></span>
                            <span class="v-skills-level-2"></span>
                            
                            <div class="v-skill">
                                <div class="v-skill-fill" data-fill="90%"></div>
                                <span class="v-skill-text">WP</span>
                            </div>
                            <div class="v-skill">
                                <div class="v-skill-fill" data-fill="75%"></div>
                                <span class="v-skill-text">PhP</span>
                            </div>
                            <div class="v-skill">
                                <div class="v-skill-fill" data-fill="70%"></div>
                                <span class="v-skill-text">JS</span>
                            </div>
                            <div class="v-skill">
                                <div class="v-skill-fill" data-fill="85%"></div>
                                <span class="v-skill-text">PSD</span>
                            </div>
                            <div class="v-skill">
                                <div class="v-skill-fill" data-fill="90%"></div>
                                <span class="v-skill-text">HTML</span>
                            </div>
                            <div class="v-skill">
                                <div class="v-skill-fill" data-fill="55%"></div>
                                <span class="v-skill-text">Al</span>
                            </div>
                            <div class="v-skill">
                                <div class="v-skill-fill" data-fill="35%"></div>
                                <span class="v-skill-text">C#</span>
                            </div>
                            <div class="v-skill">
                                <div class="v-skill-fill" data-fill="66%"></div>
                                <span class="v-skill-text">DB</span>
                            </div>
                            <div class="v-skill">
                                <div class="v-skill-fill" data-fill="78%"></div>
                                <span class="v-skill-text">C++</span>
                            </div>
                            <div class="v-skill">
                                <div class="v-skill-fill" data-fill="50%"></div>
                                <span class="v-skill-text">.NET</span>
                            </div>
                            <div class="v-skill">
                                <div class="v-skill-fill" data-fill="62%"></div>
                                <span class="v-skill-text">PERL</span>
                            </div>
                            <div class="v-skill">
                                <div class="v-skill-fill" data-fill="88%"></div>
                                <span class="v-skill-text">SVG</span>
                            </div>
                            <div class="v-skill">
                                <div class="v-skill-fill" data-fill="75%"></div>
                                <span class="v-skill-text">EPS</span>
                            </div>
                            <div class="v-skill">
                                <div class="v-skill-fill" data-fill="70%"></div>
                                <span class="v-skill-text">CSS3</span>
                            </div>
                        </div>
                    </div>
                </div>  
