<!-- CONTACT SECTION -->

            <div id="contact" class="section">
                <div class="block content-1070 center-relative section-content">
                    <h2 class="entry-title">Contact</h2>
                    <p class="page-description">N'hésitez pas à nous contacter</p>
                    <div class="contact-page-wrapper">
                        <div class="contact-page-left">
                            <p class="medium-text">Lire, c'est bien, discuter, c'est mieux, n'hésitez pas à nous
                                contacter pour nous apporter plus de détails sur vos projets, mettre en place une
                                éventuelle collaboration, ou juste dire bonjour.</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <div class="contact-info">
                                <span class="fa fa-map-marker"></span>
                                <p class="contact-info-content">Marseille, 13004 - 13013</p>
                            </div>
                            <div class="contact-info">
                                <span class="fa fa-mobile"></span>
                                <p class="contact-info-content">+123.456.789</p>
                            </div>
                            <div class="contact-info">
                                <span class="fa fa-envelope"></span>
                                <p class="contact-info-content">kombinat@kombinat.com</p>
                            </div>
                            <div class="contact-info">
                                <span class="fa fa-globe"></span>
                                <p class="contact-info-content">www.pasencore.com</p>
                            </div>
                        </div>

                        <div class="contact-page-right">
                            <div class="contact-form">
                                <p><input id="name" type="text" name="your-name" placeholder="Name"></p>
                                <p><input id="contact-email" type="email" name="your-email" placeholder="Email"></p>
                                <p><input id="subject" type="text" name="your-subject" placeholder="Subject"></p>
                                <p><textarea id="message" name="your-message" placeholder="Message"></textarea></p>
                                <p class="contact-submit-holder"><input type="submit" onClick="SendMail()" value="ENVOYER"></p>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>