        <!--Footer-->


        <footer class="footer">
            <div class="footer-content content-1070 center-relative">

                <ul class="copyright-holder">
                    <li class="copyright-footer">
                        © <script>
                            document.write(new Date().getFullYear())
                        </script> - Kombin@t</li>
                    <!-- <li class="social-footer">                
                                                    <a href="#">Twitter</a><a href="#">Facebook</a><a href="#">Instagram</a><a href="#">Behance</a>                </li>             -->
                </ul>

            </div>
        </footer>