                <div class="menu-holder">
                    <nav id="header-main-menu">
                        <ul class="main-menu sm sm-clean">
                            <!-- <li>
                                <a href="#home">Home</a>
                            </li> -->
                            <li>
                                <a href="#services">Services</a>
                            </li>
                            <!-- <li>
                                    <a href="#portfolio">Portfolio</a>
                                </li>
                                <li>
                                    <a href="#about">About</a>
                                </li> -->
                            <li>
                                <a href="#clients">Clients</a>
                            </li>
                            <li>
                                <a href="#team">The Team</a>
                            </li>
                            <li>
                                <a href="#pricing">Pricing</a>
                            </li>
                            <!-- <li>
                                    <a href="#news">News</a>
                                </li> -->
                            <li>
                                <a href="#contact">Contact</a>
                            </li>
                            <!-- <li>
                                    <a>More</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="features.html" class="no-scroll">features</a>
                                        </li>
                                        <li>
                                            <a href="portfolio-item-1.html">portfolio item I</a>
                                        </li>
                                        <li>
                                            <a href="portfolio-item-2.html">portfolio item II</a>
                                        </li>
                                        <li>
                                            <a href="portfolio-item-3.html">portfolio item III</a>
                                        </li>
                                    </ul>
                                </li> -->
                        </ul>
                    </nav>
                </div>
                <div class="clear"></div>
            </div>
        </header>