
            <!-- HOME SECTION -->

            <div id="home" class="section">
                <div class="block content-1070 center-relative section-content">
                    <h1 class="title-text center glowing">Kombin@t</h1>
                    <p class="intro-description center"> Fédérer pour mieux créer</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <div class="center-text">
                        <a href="#contact" target="_self" class="button scroll">Découvrir</a>
                    </div>
                    <div class="icon-scroll"></div>
                </div>
            </div>