
            <!-- HOME SECTION -->
            <div class='title-banner'>
                <h1 class="anaglyph">Kombin@t</h1>
                <!-- <div class="icon-scroll icon-scroll-black"></div> -->
            </div>
            <div id="home" class="section">
                <div class="block content-1070 center-relative section-content">
                    <p class="intro-description intro-description-first center"> Fédérer pour mieux créer</p>
                    <p class="intro-description intro-description-last center upside_down"> Diviser pour mieux régner</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <div class="center-text">
                        <a href="#contact" target="_self" class="button scroll">Découvrir</a>
                    </div>
                    <div class="icon-scroll"></div>
                </div>
            </div>


