            <!-- NEWS SECTION -->
        
                    <div id="news" class="section">   
                        <div class="block content-1070 center-relative section-content">  
                            <h2 class="entry-title">News</h2>
                            <p class="page-description">Latest news and updates</p>
                        </div>
                        <div class="full-page-width center-relative">
                            <div class="blog-holder block center-relative">
                                
                                <article class="relative animate blog-item-holder center-relative">
                                    <h4 class="entry-title">
                                        <a href="single.html">A very small stage in a vast cosmic arena rich in mystery <span class="arrow"></span></a>
                                    </h4>
                                    <div class="entry-date published">September 2017</div>
                                    <div class="author vcard ">Mike Stone</div>
                                    <div class="kudos">
                                        <div class="post-kudo">
                                            <a> 
                                                <div class="big-circle"></div>
                                            </a>
                                            <span class="count">4</span>
                                        </div>
                                    </div>	
                                    <div class="clear"></div>
                                </article>
                                
                                <article class="relative animate blog-item-holder center-relative">
                                    <h4 class="entry-title">
                                        <a href="single.html">Citizens of distant epochs decipherment the carbon in our apple pies kindling <span class="arrow"></span></a></h4>
                                        <div class="entry-date published">September 2017</div>
                                        <div class="author vcard ">Mike Stone</div>
                                        <div class="kudos">
                                            <div class="post-kudo">
                                                <a> 
                                                    <div class="big-circle"></div>
                                                </a>
                                                <span class="count">3</span>
                                            </div>
                                        </div>	
                                        <div class="clear"></div>
                                    </article>
                                    
                                    <article class="relative animate blog-item-holder center-relative">
                                        <h4 class="entry-title">
                                            <a href="single.html">Galaxies citizens of distant epochs two ghostly white figures <span class="arrow"></span></a></h4>
                                            <div class="entry-date published">September 2017</div>
                                            <div class="author vcard ">Mike Stone</div>
                                            <div class="kudos">
                                                <div class="post-kudo">
                                                    <a> 
                                                        <div class="big-circle"></div>
                                                    </a>
                                                    <span class="count">3</span>
                                                </div>
                                            </div>	
                                            <div class="clear"></div>
                                        </article>
                                        
                                        <article class="relative animate blog-item-holder center-relative">
                                            <h4 class="entry-title">
                                                <a href="single.html">From which we spring with pretty stories for which there’s little good <span class="arrow"></span></a></h4>
                                                <div class="entry-date published">September 2017</div>
                                                <div class="author vcard ">Mike Stone</div>
                                                <div class="kudos">
                                                    <div class="post-kudo">
                                                        <a> 
                                                            <div class="big-circle"></div>
                                                        </a>
                                                        <span class="count">2</span>
                                                    </div>
                                                </div>	
                                                <div class="clear"></div>
                                            </article>
                                            
                                            <article class="relative animate blog-item-holder center-relative">
                                                <h4 class="entry-title">
                                                    <a href="single.html">Muse about culture brain is the seed of intelligence Jean-Francois <span class="arrow"></span></a></h4>
                                                    <div class="entry-date published">September 2017</div>
                                                    <div class="author vcard ">Mike Stone</div>
                                                    <div class="kudos">
                                                        <div class="post-kudo">
                                                            <a> 
                                                                <div class="big-circle"></div>
                                                            </a>
                                                            <span class="count">4</span>
                                                        </div>
                                                    </div>	
                                                    <div class="clear"></div>
                                                </article>                            
                                            </div>
                                            <p>&nbsp;</p>
                                            <div class="center-text">
                                                <a href="#" target="_self" class="button">Read More</a>
                                            </div>
                                        </div>
                                    </div>   