            <!-- PORTFOLIO SECTION -->

            <div id="portfolio" class="section">   
                    <div class="block content-1070 center-relative section-content">  
                        <h2 class="entry-title">Portfolio</h2>
                    </div>
                    <div class="full-page-width center-relative">
                        <div class="portfolio-wrapper">
                            <div class="category-filter-list button-group filters-button-group">
                                <div class="button is-checked" data-filter="*">All</div>
                                <div class="button" data-filter=".image">Image</div>
                                <div class="button" data-filter=".video">Video</div>
                                <div class="button" data-filter=".post">Post</div>
                                <div class="button" data-filter=".external">External</div>
                            </div>
                            
                            <div class="grid" id="portfolio-grid">
                                <div class="grid-sizer"></div>
                                
                                <div class="grid-item element-item post">
                                    <a class="item-link" href="portfolio-item-1.html">
                                        <img src="images/thumb_porfolio_img_01.jpg"  alt="" />
                                        <div class="portfolio-text-holder">
                                            <p class="portfolio-arrow"></p>
                                            <p class="portfolio-title">Platter Mockup</p>
                                            <p class="portfolio-desc">Photoshop Premade</p>
                                        </div>
                                    </a>
                                </div>
                                
                                <div class="grid-item element-item video">
                                    <a class="item-link" href="https://vimeo.com/166419987" data-rel="prettyPhoto[gallery1]">
                                        <img src="images/thumb_porfolio_img_02.jpg" alt="">
                                        <div class="portfolio-text-holder">
                                            <p class="portfolio-arrow"></p>
                                            <p class="portfolio-title">Skyscrapper</p>
                                            <p class="portfolio-desc">Photography</p>
                                        </div>
                                    </a>
                                </div>
                                
                                <div class="grid-item element-item image">
                                    <a class="item-link" href="images/large_porfolio_img_03.jpg" data-rel="prettyPhoto[gallery1]">
                                        <img src="images/thumb_porfolio_img_03.jpg" alt="" />
                                        <div class="portfolio-text-holder">
                                            <p class="portfolio-arrow"></p>
                                            <p class="portfolio-title">At Work</p>
                                            <p class="portfolio-desc">Preserve and cherish</p>
                                        </div>
                                    </a>
                                </div>
                                
                                <div class="grid-item element-item image">
                                    <a class="item-link" href="images/large_porfolio_img_04.jpg" data-rel="prettyPhoto[gallery1]">
                                        <img src="images/thumb_porfolio_img_04.jpg" alt="" />
                                        <div class="portfolio-text-holder">
                                            <p class="portfolio-arrow"></p>
                                            <p class="portfolio-title">Coffe Cup</p>
                                            <p class="portfolio-desc">Photoshop Mockup</p>
                                        </div>
                                    </a>
                                </div>
                                
                                <div class="grid-item element-item post">
                                    <a class="item-link" href="portfolio-item-2.html">
                                        <img src="images/thumb_porfolio_img_05.jpg" alt="" /> 
                                        <div class="portfolio-text-holder">
                                            <p class="portfolio-arrow"></p>
                                            <p class="portfolio-title">Corporate Mockup</p>
                                            <p class="portfolio-desc">Corporate Identity</p>
                                        </div>
                                    </a>
                                </div>
                                
                                <div class="grid-item element-item post">
                                    <a class="item-link" href="portfolio-item-3.html">
                                        <img src="images/thumb_porfolio_img_06.jpg" alt="" />
                                        <div class="portfolio-text-holder">
                                            <p class="portfolio-arrow"></p>
                                            <p class="portfolio-title">Stamp</p>
                                            <p class="portfolio-desc">Photoshop Mockup</p>
                                        </div>
                                    </a>
                                </div>
                                
                                <div class="grid-item element-item external">
                                    <a class="item-link" href="https://themeforest.net/item/opta-minimal-portfolio-and-photography-wordpress-theme/19536077?ref=CocoBasic" target="_blank">
                                        <img src="images/thumb_porfolio_img_07.jpg" alt="" />
                                        <div class="portfolio-text-holder">
                                            <p class="portfolio-arrow"></p>
                                            <p class="portfolio-title">Web Design</p>
                                            <p class="portfolio-desc">Wordpress</p>
                                        </div>
                                    </a>
                                </div>
                                
                                <div class="grid-item element-item image">
                                    <a class="item-link" href="images/large_porfolio_img_08.png" data-rel="prettyPhoto[gallery1]">
                                        <img src="images/thumb_porfolio_img_08.jpg" alt="" />
                                        <div class="portfolio-text-holder">
                                            <p class="portfolio-arrow"></p>
                                            <p class="portfolio-title">Smart Watch</p>
                                            <p class="portfolio-desc">Photoshop Mockup</p>
                                        </div>
                                    </a>
                                </div>
                                
                                <div class="grid-item element-item video">
                                    <a class="item-link" href="https://vimeo.com/157276599" data-rel="prettyPhoto[gallery1]">
                                        <img src="images/thumb_porfolio_img_09.jpg" alt="" />
                                        <div class="portfolio-text-holder">
                                            <p class="portfolio-arrow"></p>
                                            <p class="portfolio-title">Mobile App</p>
                                            <p class="portfolio-desc">User Interface</p>
                                        </div>
                                    </a>
                                </div>
                                
                            </div>
                            <div class="clear"></div>                            
                        </div>
                    </div>
                </div>