<!-- PRICING SECTION -->
            <div id="pricing" class="section">
                <div class="block content-1070 center-relative section-content">
                    <h2 class="entry-title">Pricing</h2>
                    <p class="page-description">Parce que chaque projet est unique, nous vous proposons des offres 100%
                        personnalisables, adaptées à vos besoins ainsi qu'à vos budgets</p>

                    <div class="one_third no-margin">
                        <div class="pricing-table top-50">
                            <div class="pricing-table-header">
                                <div class="pricing-table-title">BASIC</div>
                            </div>
                            <div class="pricing-table-price">$29.99</div>
                            <div class="pricing-table-desc">per month</div>
                            <div class="pricing-table-content-holder">
                                <ul>
                                    <li>25 GB Storage</li>
                                    <li>24/7 Support</li>
                                    <li>Up to 50 Users</li>
                                    <li>Donec Estu</li>
                                    <li>Lorem Ipsum</li>
                                </ul>
                            </div>
                            <a href="#" class="button" target="_self">Purchase</a>
                        </div>
                    </div>

                    <div class="one_third no-margin">
                        <div class="pricing-table ">
                            <div class="pricing-table-header">
                                <div class="pricing-table-title">STANDARD</div>
                            </div>
                            <div class="pricing-table-price">$39.99</div>
                            <div class="pricing-table-desc">per month</div>
                            <div class="pricing-table-content-holder">
                                <ul>
                                    <li>50 GB Storage</li>
                                    <li>24/7 Support</li>
                                    <li>Up to 1000 Users</li>
                                    <li>Donec Estu</li>
                                    <li>Lorem Ipsum</li>
                                    <li>Sit Ametus</li>
                                    <li>Vivamus Lacin</li>
                                    <li>Scelerisa Esta</li>
                                </ul>
                            </div>
                            <a href="#" class="button" target="_self">Purchase</a>
                        </div>
                    </div>

                    <div class="one_third last no-margin">
                        <div class="pricing-table top-50">
                            <div class="pricing-table-header">
                                <div class="pricing-table-title">ADVANCED</div>
                            </div>
                            <div class="pricing-table-price">$49.99</div>
                            <div class="pricing-table-desc">per month</div>
                            <div class="pricing-table-content-holder">
                                <ul>
                                    <li>25 GB Storage</li>
                                    <li>24/7 Support</li>
                                    <li>Up to 50 Users</li>
                                    <li>Donec Estu</li>
                                    <li>Lorem Ipsum</li>
                                </ul>
                            </div>
                            <a href="#" class="button" target="_self">Purchase</a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>