            <!-- SERVICES SECTION -->

            <div id="services" class="section">
                <div class="block content-1070 center-relative section-content">
                    <h2 class="entry-title">Services</h2>
                    <p class="page-description">
                    </p>
                    <p class="page-description">
                    Vous êtes une TPE/PME, une association, un particulier désirant exposer vos idées?<br /><br />
                    Kombin@t est spécialisé dans la création web pour les petites structures, <br />collaborer avec notre équipe vous permettra de : </p>
                    <div class="one_third animate">
                        <div class="service-item relative">
                            <img class="service-icon" src="images/icon_01.png" alt="">
                            <h5 class="service-title">Développer votre potentiel</h5>
                            <div class="service-content">
                                Une visibilité de votre image de marque à la hauteur de votre talent
                            </div>
                            <a class="service-link scroll" href="#clients" target="_self"></a>
                        </div>
                    </div>

                    <div class="one_third animate wait-03s">
                        <div class="service-item relative">
                            <img class="service-icon" src="images/icon_03.png" alt="">
                            <h5 class="service-title">Rester accessible</h5>
                            <div class="service-content">
                                Un référencement optimal pour ne rater aucun client
                            </div>
                            <a class="service-link scroll" href="#team" target="_self"></a>
                        </div>
                    </div>

                    <div class="one_third last animate wait-06s">
                        <div class="service-item relative ">
                            <img class="service-icon" src="images/icon_02.png" alt="">
                            <h5 class="service-title">Être accompagné</h5>
                            <div class="service-content">
                                Un support de qualité supérieure, disponible &amp; efficace
                            </div>
                            <a class="service-link scroll" href="#team" target="_self"></a>
                        </div>
                    </div>

                    <div class="clear"></div>
                </div>
            </div>
