<!-- TEAM SECTION -->

            <div id="team" class="section">
                <div class="block content-1070 center-relative section-content">
                    <h2 class="entry-title">The Team</h2>
                    <p class="page-description">Une équipe de 2 développeurs fullstack* prête à mettre les moyens en
                        oeuvre pour que votre structure obtienne l'exposition qu'elle mérite</p>

                    <div class="two_third">
                        <p class="big-text">Un champ de compétences large, pour donner vie à tous types de projets
<br>
                        </p>
                    </div>
                    <div class="one_third last">
                    *Diplômés de la formation Passerelle Numérique, promo 4, dispensée par
                            l'École Centrale de Marseille
                    </div>
                    <div class="clear"></div>
                    <p>&nbsp;</p>


                    <!-- TEAM MEMBERS -->
                    <div class="one_half animate">
                        <div class="member">
                            <img class="member-img" src="images/lnl.png" alt="" />
                            <div class="member-info">
                                <p class="member-name">LIONEL</p>
                                <p class="member-position">DEVELOPPEUR - <a href="https://www.welcometothejungle.co/articles/acronymes-metier-du-digital-a-connaitre" target="_blank">CXO</a></p>
                                <div class="member-content">
                                    <div class="social-holder">
                                    <div class="social"><a href="https://github.com/ls-777" target="_blank"><span class="fa fa-github fa-2x"></span></a></div>
                                    <div class="social"><a href="http://suvelor-lionel.co.nf" target="_blank"><span class="fa fa-globe fa-2x"></span></a></div>
                                    </div>
                                    <p class="blockquote">Terre estere doloremique sei laudantium, totames remeseo aperiam, eaque ipsa quae
                                    ab illo inventore veritatis rete et quasi architecto beataes vitae.</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="one_half last animate">
                        <div class="member">
                            <img class="member-img" src="images/fays.jpeg" alt="" />
                            <div class="member-info">
                                <p class="member-name">FAYÇAL</p>
                                <p class="member-position">DEVELOPPEUR - <a href="https://www.welcometothejungle.co/articles/acronymes-metier-du-digital-a-connaitre" target="_blank">CTO </a></p>
                                <div class="member-content">
                                    <div class="social-holder">
                                        <div class="social"><a href="https://github.com/faycal13" target="_blank"><span class="fa fa-globe fa-2x"></span></a></div>
                                        <div class="social"><a href="https://github.com/faycal13" target="_blank"><span class="fa fa-github fa-2x"></span></a></div>
                                    </div>
                                    Terre estere doloremique sei laudantium, totames remeseo aperiam, eaque ipsa quae
                                    ab illo inventore veritatis rete et quasi architecto beataes vitae.
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="clear"></div>
                </div>
            </div>
